<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lisamazzini.train_app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Just In Train"
        android:theme="@style/AppTheme" >

        <!-- <activity android:name=".JourneyListActivity" /> -->

        <service
            android:name="com.octo.android.robospice.UncachedSpiceService"
            android:exported="false" />
        <service
            android:name=".Notification.NotificationService"
            android:exported="false" />

        <!-- <service android:name=".Controller.DoubleTrainService" android:exported="false"/> -->

        <receiver
            android:name=".Notification.ButtonListener"
            android:exported="true" />

        <!-- <activity -->
        <!-- android:name=".GUI.JourneyResultsActivity" -->
        <!-- android:label="@string/title_activity_journey_results" > -->
        <!-- &lt;!&ndash;<intent-filter>&ndash;&gt; -->
        <!-- &lt;!&ndash;<action android:name="android.intent.action.MAIN" />&ndash;&gt; -->


        <!-- &lt;!&ndash;<category android:name="android.intent.category.LAUNCHER" />&ndash;&gt; -->
        <!-- &lt;!&ndash;</intent-filter>&ndash;&gt; -->
        <!-- </activity> -->
        <activity android:name=".GUI.Activity.StationListActivity" />
        <!-- <activity -->
        <!-- android:name=".GUI.FavouriteJourneyListActivity" -->
        <!-- android:label="@string/title_activity_favourite_journey_list" > -->
        <!-- </activity> -->
        <activity
            android:name=".GUI.Activity.FavouriteTrainListActivity"
            android:parentActivityName=".GUI.Activity.MainActivity" >
        </activity>
        <activity
            android:name=".GUI.Activity.JourneyResultsActivity"
            android:parentActivityName=".GUI.Activity.MainActivity" >
        </activity>
        <activity
            android:name=".GUI.Activity.AchievementListActivity"
            android:parentActivityName=".GUI.Activity.MainActivity" >
        </activity>
        <activity android:name=".GUI.Activity.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
