<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lisamazzini.train_app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Just In Train"
        android:theme="@style/AppTheme" >

        <service
            android:name="com.octo.android.robospice.UncachedSpiceService"
            android:exported="false" />

        <service
            android:name=".notification.NotificationService"
            android:exported="false" />

        <receiver
            android:name=".notification.ButtonListener"
            android:exported="true" />

        <activity android:name=".gui.activity.StationListActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".gui.activity.FavouriteTrainListActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".gui.activity.MainActivity" >
        </activity>

        <activity
            android:name=".gui.activity.JourneyListActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".gui.activity.MainActivity" >
        </activity>

        <activity
            android:name=".gui.activity.AchievementListActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".gui.activity.MainActivity" >
        </activity>

        <activity android:name=".gui.activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
